# Telecom Churn: Data Wrangling

## About [Dataset](https://www.kaggle.com/datasets/mnassrib/telecom-churn-datasets?select=churn-bigml-80.csv) (copied from kaggle)

### Context
"Predict behavior to retain customers. You can analyze all relevant customer data and develop focused customer retention programs."

### Content
The [Orange Telecom's](https://www.orange.com/en) Churn Dataset, which consists of cleaned customer activity data (features), along with a churn label specifying whether a customer canceled the subscription, will be used to develop predictive models. Two datasets are made available here: The churn-80 and churn-20 datasets can be downloaded.

The two sets are from the same batch, but have been split by an 80/20 ratio. As more data is often desirable for developing ML models, let's use the larger set (that is, churn-80) for training and cross-validation purposes, and the smaller set (that is, churn-20) for final testing and model performance evaluation.

### Inspiration
To explore this type of models and learn more about the subject.

## Imports

In [1]:
import numpy as np
import pandas as pd
import pickle

## Load Data

In [3]:
train_set = pd.read_csv('data/churn-bigml-80.csv').assign(set = "train")
train_set.columns = train_set.columns.str.replace(" ", "_").str.lower()

test_set = pd.read_csv('data/churn-bigml-20.csv').assign(set = "test")
test_set.columns = test_set.columns.str.replace(" ", "_").str.lower()

telecom_df = pd.concat([train_set, test_set], axis = 0)
telecom_df

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,...,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,customer_service_calls,churn,set
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,False,train
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,...,16.62,254.4,103,11.45,13.7,3,3.70,1,False,train
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,...,10.30,162.6,104,7.32,12.2,5,3.29,0,False,train
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,...,5.26,196.9,89,8.86,6.6,7,1.78,2,False,train
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,...,12.61,186.9,121,8.41,10.1,3,2.73,3,False,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,...,13.23,247.6,94,11.14,11.5,7,3.11,2,False,test
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,...,17.33,229.5,73,10.33,8.1,3,2.19,1,False,test
664,VT,60,415,No,No,0,193.9,118,32.96,85.0,...,7.23,210.1,134,9.45,13.2,8,3.56,3,False,test
665,WV,159,415,No,No,0,169.8,114,28.87,197.7,...,16.80,193.7,82,8.72,11.6,4,3.13,1,False,test
666,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,...,13.57,139.2,137,6.26,5.0,10,1.35,2,False,test

In [4]:
telecom_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3333 entries, 0 to 666
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account_length          3333 non-null   int64
 2   area_code               3333 non-null   int64
 3   international_plan      3333 non-null   object
 4   voice_mail_plan         3333 non-null   object
 5   number_vmail_messages   3333 non-null   int64
 6   total_day_minutes       3333 non-null   float64
 7   total_day_calls         3333 non-null   int64
 8   total_day_charge        3333 non-null   float64
 9   total_eve_minutes       3333 non-null   float64
 10  total_eve_calls         3333 non-null   int64
 11  total_eve_charge        3333 non-null   float64
 12  total_night_minutes     3333 non-null   float64
 13  total_night_calls       3333 non-null   int64
 14  total_night_charge      3333 non-null   float64
 15  total_intl_minutes      3333 non-null   float64
 16  total_intl_calls        3333 non-null   int64
 17  total_intl_charge       3333 non-null   float64
 18  customer_service_calls  3333 non-null   int64
 19  churn                   3333 non-null   bool
 20  set                     3333 non-null   object
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 550.1+ KB

All columns lack missing values and are the correct datatypes. The only adjustment that needs to be made is changing *area_code* from int to str. Overall, this is a very clean dataset

In [4]:
telecom_df = telecom_df.assign(area_code = lambda x: x.area_code.astype(str))

Now I'll just run 5-number summaries to make sure nothing looks off

In [5]:
telecom_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
account_length,3333.0,101.064806,39.822106,1.00,74.00,101.00,127.00,243.00
number_vmail_messages,3333.0,8.099010,13.688365,0.00,0.00,0.00,20.00,51.00
total_day_minutes,3333.0,179.775098,54.467389,0.00,143.70,179.40,216.40,350.80
total_day_calls,3333.0,100.435644,20.069084,0.00,87.00,101.00,114.00,165.00
total_day_charge,3333.0,30.562307,9.259435,0.00,24.43,30.50,36.79,59.64
total_eve_minutes,3333.0,200.980348,50.713844,0.00,166.60,201.40,235.30,363.70
total_eve_calls,3333.0,100.114311,19.922625,0.00,87.00,100.00,114.00,170.00
total_eve_charge,3333.0,17.083540,4.310668,0.00,14.16,17.12,20.00,30.91
total_night_minutes,3333.0,200.872037,50.573847,23.20,167.00,201.20,235.30,395.00
total_night_calls,3333.0,100.107711,19.568609,33.00,87.00,100.00,113.00,175.00
total_night_charge,3333.0,9.039325,2.275873,1.04,7.52,9.05,10.59,17.77
total_intl_minutes,3333.0,10.237294,2.791840,0.00,8.50,10.30,12.10,20.00
total_intl_calls,3333.0,4.479448,2.461214,0.00,3.00,4.00,6.00,20.00
total_intl_charge,3333.0,2.764581,0.753773,0.00,2.30,2.78,3.27,5.40
customer_service_calls,3333.0,1.562856,1.315491,0.00,1.00,1.00,2.00,9.00

All numeric columns have reasonalbe values. No outliers that look like incorrect data. This looks good..

## Save Cleaned Data

I used *pickle* to save everything as pickle files retain the specific column formats I've set. Saving as .csv and reading that back in often causes types to reset (e.g. dates going back to strings)

In [7]:
def save_object(obj, filename):
    with open(filename, 'wb') as outp:  # Overwrites any existing file.
        pickle.dump(obj, outp, pickle.HIGHEST_PROTOCOL)

save_object(telecom_df, 'data_clean/telecom_data.pkl')